.popu-cart {
    margin-top: 30px;
}

.popular-destinations {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 30px 100px;
}

.popu-cart h2{
    color: rgb(212, 73, 9);
    font-size: 40px;
}

.popu-cart :any-link{
    text-decoration: none;
    transition: font-size 0.5s;
}

.popu-cart :any-link:hover{
    font-size: 20px;
}

.container {
    display: flex;
    justify-content: center;
    position: relative;
}

.container img{
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.overly {
    position: absolute;
    opacity: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.7);
    overflow: hidden;
    text-align: center;
    transition: .3s ease-in-out;
}

.container:hover .overly {
    opacity: 1;
    height: 100%;
}

.popular-destinations img {
    border-radius: 5px;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: block;
}

.popular-destinations p {
    color: white;
    font-size: 14px;
    left: 10%;
    right: 10%;
    position: absolute;
    text-align: center;
}

@media only screen and (max-width: 950px) {
    .popular-destinations{
        padding: 20px;
    }
  }

  @media only screen and (max-width: 600px) {
    .popular-destinations{
        grid-template-columns: repeat(1, 1fr);
    }
  }